// @font-face {
//   font-family: 'Langdon';
//   src: url('/fonts/Langdon.otf'); IE9 Compat Modes
//   src: url('/fonts/Langdon.otf') format('embedded-opentype'); /* IE6-IE8 */
// }

@font-face {
  font-family:'Langdon';
  src:url('../css/fonts/Langdon.otf');
}


$global:0.625;
$headline-copy: 'Langdon', sans-serif;




$screen-1:320px; 	/* iPhone first gen */
$screen-2:480px; 	/* Samsung Nexus S */
$screen-3:540px;	/* Droid Razr */
$screen-4:640px;	/* iPhone 4 and 5 */
$screen-5:720px;	/* Galaxy Nexus */
$screen-6:750px;	/* iPhone 6 / Google Nexus */
$screen-7:800px;	/* Galaxy Note */
$screen-8:1023px;	/* Iphone 6+ */
$screen-9:1280px;	/* Desktop */

$fullwidth:1280px;


$sm-sp-unit:0.5em;
$md-sp-unit:1.5em;
$lg-sp-unit:3em;

/* ========================= Colors ============================ */

$maincolor: #444;
$maincolor2: #01181C;
$secondcolor: #fff;
$thirdcolor: #25d7f7;
$fourthcolor: #C4280A;
// $fifthcolor: rgba(0,137,136,1);


/* ========================== Font ============================= */

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family:$headline-copy;
	// font-weight:100 !important;
	text-transform:uppercase;
	a {
		// font-family:$headline-copy;
		// font-weight:800;
	// font-weight:100 !important;



	}
}


@mixin font($em){
		font-size: ($em * $global) + px;
		font-size: ($em) + em;
		line-height: 1.1em;
}

.page_wrap {
	max-width:$fullwidth;
}


@charset "utf-8";

@import 
	"bourbon/bourbon",
	"sass/nav",
	"sass/home",
	"sass/contact"
;



