@font-face {
  font-family: 'Langdon';
  src: url("../css/fonts/Langdon.otf"); }
/* iPhone first gen */
/* Samsung Nexus S */
/* Droid Razr */
/* iPhone 4 and 5 */
/* Galaxy Nexus */
/* iPhone 6 / Google Nexus */
/* Galaxy Note */
/* Iphone 6+ */
/* Desktop */
/* ========================= Colors ============================ */
/* ========================== Font ============================= */
*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Langdon", sans-serif;
  text-transform: uppercase; }

.page_wrap {
  max-width: 1280px; }

.menu_button.icon-menu {
  width: 100px;
  padding: 0 0 0 50px; }

.icon-menu:before {
  content: ''; }

.burger:before {
  content: '\e8ba';
  font-family: "fontello";
  color: #25d7f7; }

.top_panel_over .header_mobile .menu_button {
  top: 1.3em;
  right: 0em;
  left: auto;
  position: fixed; }
  @media screen and (min-width: 480px) {
    .top_panel_over .header_mobile .menu_button {
      right: 5%; } }

.top_panel_over .body_wrap .page_wrap .header_mobile .word {
  font-size: 1.0625px;
  font-size: 1.7em;
  line-height: 1.1em;
  float: right;
  color: #25d7f7;
  margin: 0.9em 2.2em 0 0;
  display: block;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-family: "Tinos",serif; }
  @media screen and (min-width: 480px) {
    .top_panel_over .body_wrap .page_wrap .header_mobile .word {
      right: 4%; } }
  @media screen and (min-width: 768px) {
    .top_panel_over .body_wrap .page_wrap .header_mobile .word {
      top: 0.1em; } }

a.email-us {
  position: absolute;
  width: 60%;
  max-width: 300px;
  color: #fff;
  font-family: "Langdon", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.1em;
  text-align: left;
  display: block;
  bottom: 1em;
  left: 4%;
  top: auto;
  right: auto;
  padding: 0.2em 0;
  text-decoration: none; }
  a.email-us:hover {
    color: #25d7f7; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    a.email-us {
      top: 1.5em;
      left: 40%;
      right: auto;
      bottom: auto; } }
  @media screen and (min-width: 640px) and (orientation: landscape) {
    a.email-us {
      left: 39%; } }
  @media screen and (min-width: 720px) and (orientation: landscape) {
    a.email-us {
      left: 40%; } }
  @media screen and (min-width: 750px) and (orientation: landscape) {
    a.email-us {
      left: 41%; } }
  @media screen and (min-width: 540px) and (min-height: 600px) {
    a.email-us {
      top: 1.5em;
      left: 40%;
      right: auto;
      bottom: auto; } }
  @media screen and (min-width: 640px) and (min-height: 600px) {
    a.email-us {
      left: 39%; } }
  @media screen and (min-width: 720px) and (min-height: 600px) {
    a.email-us {
      left: 40%; } }
  @media screen and (min-width: 750px) and (min-height: 600px) {
    a.email-us {
      left: 41%; } }
  @media screen and (min-width: 1023px) {
    a.email-us {
      top: 1.8em;
      left: 41%;
      right: auto;
      bottom: auto; } }

.scheme_original .header_mobile .panel_top,
.scheme_original .header_mobile .side_wrap {
  background-color: #444; }

.header_mobile .side_wrap .close {
  display: block;
  z-index: 3000;
  color: red;
  font-size: 1.25px;
  font-size: 2em;
  line-height: 1.1em;
  font-weight: bold;
  font-family: sans-serif; }

.header_mobile {
  height: 8em;
  -webkit-transition: all 0.1s 0.1s ease;
  -moz-transition: all 0.1s 0.1s ease;
  transition: all 0.1s 0.1s ease; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    .header_mobile {
      height: auto; } }
  @media screen and (min-width: 540px) and (min-height: 600px) {
    .header_mobile {
      height: auto; } }

.header_mobile .side_wrap {
  top: 0; }

/* Padding Remover */
.top_panel_over .header_mobile .logo,
.header_mobile .logo {
  padding: 0; }

.top_panel_wrap {
  position: relative !important;
  height: 0; }

@media (max-width: 1030px) {
  .top_panel_over .body_wrap .page_wrap .header_mobile {
    background: #01181C;
    position: relative; } }
@media screen and (max-width: 639px) {
  .header_mobile .logo_main {
    height: 50px; } }
.header_mobile div.logo {
  float: left;
  width: 50%;
  text-align: left; }
  .header_mobile div.logo img {
    position: relative;
    margin: 0.7em 0 0; }

.top_panel_middle .menu_main_wrap {
  position: absolute;
  top: 1.3em;
  right: 3em;
  margin: 0; }
  .top_panel_middle .menu_main_wrap .menu-item a {
    font-size: 18px;
    margin: 0 3px; }

.scheme_original .menu_main_nav > li.current-menu-ancestor > a {
  background-color: #25d7f7; }

.scheme_original .menu_main_nav > li > a:hover {
  background-color: #25d7f7;
  text-decoration: none; }

.top_panel_middle .logo {
  margin: 0.5em -10% 0 10%; }
  .top_panel_middle .logo .logo_main {
    height: 70px; }

footer {
  background: #01181C;
  padding: 1.5em; }
  footer .footer_wrap_inner {
    padding: 0; }
  footer .columns_wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 400px; }
  footer .footer-button {
    width: 100%;
    margin: 1.5em auto;
    display: block;
    padding: 3em;
    max-width: 400px;
    font-size: 28px; }
  footer .footer-box {
    width: 45%;
    margin: 0.5em 2.2% 1.5em;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    text-align: left; }
    footer .footer-box h2 {
      color: #fff; }
    footer .footer-box span {
      color: white;
      text-align: left;
      font-size: 18px;
      font-family: "Langdon", sans-serif;
      text-transform: uppercase;
      display: block; }
  footer .logo_main {
    width: 100%;
    margin: 0.5em auto;
    max-width: 150px;
    display: block;
    position: relative; }
  footer .sc_socials.sc_socials_size_tiny a,
  footer .sc_socials.sc_socials_size_tiny a .sc_socials_hover {
    width: 5em;
    height: 5em; }
  footer .sc_socials.sc_socials_size_tiny .social_icons span,
  footer .sc_socials.sc_socials_size_tiny .social_icons.social_gpl span,
  footer .sc_socials.sc_socials_size_tiny .social_icons.social_tripadvisor span {
    font-size: 3em; }
  footer .scheme_original .sc_socials.sc_socials_type_icons a {
    border-color: #25d7f7;
    background-color: #444;
    color: #25d7f7;
    padding: 20%; }
    footer .scheme_original .sc_socials.sc_socials_type_icons a:hover {
      border-color: #fff;
      background-color: #25d7f7;
      color: #fff; }
  footer .copyright_text,
  footer .copyright_text a {
    color: #fff !important;
    font-size: 18px;
    display: block; }

.contacts .container {
  background: #444; }

.scheme_original .body_style_boxed .body_wrap {
  background-color: #01181C; }

.bg_image_13 {
  background-image: none !important;
  background-size: cover;
  background-position: center;
  background-color: #444; }

.bg_image_12,
.bg_image_14,
.bg_image_15,
.bg_image_16,
.bg_image_17,
.scheme_original .body_style_boxed .body_wrap {
  background-image: none !important; }

.tparrows {
  display: none;
  color: white; }
  .tparrows:before {
    color: white; }

.bg_image_14,
.bg_image_17 {
  background: #444; }

.bg_image_15,
.bg_image_16 {
  background: #444; }

.tn-border,
.top_panel_over .header_style_6 .slider_wrap .slotholder:after,
.top_panel_over .slider_wrap .slotholder:after,
.sc_section.section_style_thick:after,
.scheme_original .sc_events_style_events-2 .sc_events_item,
.scheme_original input[type="text"],
.scheme_original input[type="number"],
.scheme_original input[type="email"],
.scheme_original input[type="search"],
.scheme_original input[type="tel"],
.scheme_original input[type="password"],
.scheme_original select,
.scheme_original textarea {
  border: 3px solid white; }

.tn-border,
.scheme_original input[type="text"]:hover,
.scheme_original input[type="number"]:hover,
.scheme_original input[type="email"]:hover,
.scheme_original input[type="search"]:hover,
.scheme_original input[type="tel"]:hover,
.scheme_original input[type="password"]:hover,
.scheme_original select:hover,
.scheme_original textarea:hover {
  border-color: #444; }

.sc_services_item_description {
  color: white; }

.sc_services_descr.sc_item_descr {
  color: white; }

.scheme_original .sc_button.style_color_light.sc_button_style_filled {
  background: #25d7f7;
  border: 3px solid #25d7f7;
  padding: 1.5em 3em;
  -webkit-transition: background-color 0.3s 0.1s ease, color 0.3s 0.1s ease;
  -moz-transition: background-color 0.3s 0.1s ease, color 0.3s 0.1s ease;
  transition: background-color 0.3s 0.1s ease, color 0.3s 0.1s ease; }
  .scheme_original .sc_button.style_color_light.sc_button_style_filled:hover {
    background: transparent;
    border: 3px solid #25d7f7;
    color: #25d7f7;
    text-decoration: none; }

.carousel-inner:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background-image: url("../tn-imgs/thirstynickel logo white.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center 10px;
  opacity: 1;
  z-index: 5; }
@media screen and (min-width: 1023px) and (orientation: landscape) {
  .carousel-inner:after {
    top: 12%; } }
@media screen and (min-width: 640px) and (min-height: 600px) {
  .carousel-inner:after {
    top: 10%; } }
@media screen and (min-width: 800px) and (min-height: 600px) {
  .carousel-inner:after {
    top: 8%; } }
@media screen and (min-width: 1023px) and (min-height: 600px) {
  .carousel-inner:after {
    top: 12%; } }

.item .carousel-caption {
  font-size: 0.625px;
  font-size: 1em;
  line-height: 1.1em;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 40%;
  height: auto;
  z-index: 2;
  text-align: center; }
  .item .carousel-caption .btn {
    text-shadow: none; }
  .item .carousel-caption h2 {
    font-size: 1.6875px;
    font-size: 2.7em;
    line-height: 1.1em;
    line-height: 1.1em;
    margin: 0 auto;
    color: #fff; }
  .item .carousel-caption h3 {
    font-size: 1.5625px;
    font-size: 2.5em;
    line-height: 1.1em;
    line-height: 1.1em;
    margin: 0 auto;
    color: #fff; }
  .item .carousel-caption h4 {
    font-size: 1.125px;
    font-size: 1.8em;
    line-height: 1.1em;
    line-height: 1.1em;
    margin: 0 auto;
    color: #fff; }
.item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #444;
  opacity: 0.6;
  z-index: 0; }
.item:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  opacity: 1;
  z-index: 1;
  border: 3px solid white; }
@media screen and (min-width: 540px) and (orientation: landscape) {
  .item {
    height: 100vh; }
    .item .carousel-caption {
      top: 43%;
      font-size: 0.8125px;
      font-size: 1.3em;
      line-height: 1.1em; } }
@media screen and (min-width: 640px) and (orientation: landscape) {
  .item {
    height: 100vh; }
    .item .carousel-caption {
      top: 45%;
      font-size: 0.875px;
      font-size: 1.4em;
      line-height: 1.1em; } }
@media screen and (min-width: 720px) and (orientation: landscape) {
  .item {
    height: 100vh; }
    .item .carousel-caption {
      top: 45%;
      font-size: 1px;
      font-size: 1.6em;
      line-height: 1.1em; } }
@media screen and (min-width: 640px) and (min-height: 600px) {
  .item {
    height: 38em; }
    .item img {
      max-width: 120% !important; }
    .item .carousel-caption {
      font-size: 0.875px;
      font-size: 1.4em;
      line-height: 1.1em;
      top: 50%; }
    .item:after {
      content: '';
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      opacity: 1;
      z-index: 1;
      border: 3px solid white; } }
@media screen and (min-width: 750px) and (min-height: 600px) {
  .item {
    height: 45em; }
    .item img {
      max-width: 120% !important; }
    .item .carousel-caption {
      font-size: 1.375px;
      font-size: 2.2em;
      line-height: 1.1em;
      top: 50%; }
    .item:after {
      content: '';
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      opacity: 1;
      z-index: 1;
      border: 3px solid white; } }
@media screen and (min-width: 1023px) and (min-height: 600px) {
  .item {
    height: 100vh; }
    .item img {
      max-width: 120% !important; }
    .item .carousel-caption {
      top: 50%;
      font-size: 1.375px;
      font-size: 2.2em;
      line-height: 1.1em; }
    .item:after {
      content: '';
      position: absolute;
      width: 90%;
      height: 85%;
      top: 10%;
      left: 5%;
      opacity: 1;
      z-index: 1;
      border: 3px solid white; } }

.slider_boxed,
.content_wrap,
.container,
.content_container {
  width: 95%; }

.contacts .slider_boxed,
.contacts .content_wrap,
.contacts .container,
.contacts .content_container {
  width: 100%; }

.happy-hour {
  padding: 1.5em;
  background-color: #01181C; }
  .happy-hour h1 {
    color: #56e0f9; }
  .happy-hour .sc_title.sc_title_style_3 {
    color: white;
    letter-spacing: 1px;
    font-size: 2em; }
    @media screen and (min-width: 960px) {
      .happy-hour .sc_title.sc_title_style_3 {
        font-size: 2.15em; } }

.chi-town {
  background: #444;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 3em 1.5em; }
  .chi-town h1 {
    font-size: 2.8em;
    line-height: 1.1em;
    margin: 0 auto;
    text-align: center !important; }
  .chi-town img {
    width: 100%;
    position: relative;
    display: block;
    margin: 1.5em auto;
    max-width: 450px; }
    @media screen and (min-width: 540px) {
      .chi-town img {
        display: inline-block;
        margin: 1.5em 2.3%;
        width: 45%; } }
    @media screen and (min-width: 640px) {
      .chi-town img {
        margin: 1.5em 2%;
        width: 28.1%; } }
  .chi-town .flag-img {
    margin: 1.5em auto;
    display: block; }
  .chi-town .left {
    display: none; }
    @media screen and (min-width: 640px) {
      .chi-town .left {
        display: inline-block; } }

.sc_emailer .sc_emailer_opened .inited {
  width: 90%; }

@media screen and (min-width: 480px) {
  .row:not(.columns_fluid) > [class*="column-"],
  .columns_wrap:not(.columns_fluid) > [class*="column-"] {
    width: 49%; } }

.buffalo {
  background-color: #01181C;
  background-image: url("../tn-imgs/Mike Frost - IMG_5789.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1.5em; }
  .buffalo .buffalo-slide {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    -webkit-transition: all 0.3s 0.1s ease;
    -moz-transition: all 0.3s 0.1s ease;
    transition: all 0.3s 0.1s ease;
    padding: 0;
    display: block;
    background-color: #444;
    padding: 0 1.5em;
    margin: 0 auto; }
    .buffalo .buffalo-slide:after {
      content: '';
      position: absolute;
      width: 95%;
      height: 95%;
      top: 2.5%;
      left: 2.5%;
      opacity: 1;
      z-index: 1;
      border: 3px solid white; }
    .buffalo .buffalo-slide .thumbs {
      width: 98%;
      overflow: hidden;
      margin: 1.5em auto;
      position: relative;
      opacity: 0;
      display: block;
      -webkit-transition: all 0.5s 1.7s ease;
      -moz-transition: all 0.5s 1.7s ease;
      transition: all 0.5s 1.7s ease;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      clear: both; }
      .buffalo .buffalo-slide .thumbs:nth-of-type(2) {
        -webkit-transition: all 0.5s 2s ease;
        -moz-transition: all 0.5s 2s ease;
        transition: all 0.5s 2s ease; }
      @media screen and (min-width: 540px) and (orientation: landscape) {
        .buffalo .buffalo-slide .thumbs {
          width: 45%;
          margin: 1.5em 2%;
          display: inline-block;
          vertical-align: top; } }
      @media screen and (min-width: 540px) and (min-height: 600px) {
        .buffalo .buffalo-slide .thumbs {
          width: 45%;
          margin: 1.5em 2%;
          display: inline-block;
          vertical-align: top; } }
    .buffalo .buffalo-slide .buffalo-logo {
      width: 25%;
      max-width: 150px;
      float: left;
      margin: 0 1.5em 0.5em auto;
      position: relative; }
    .buffalo .buffalo-slide p {
      width: 95%;
      min-height: 10em;
      float: none;
      clear: both;
      position: relative;
      max-width: 100%;
      opacity: 0;
      margin: 0.5em auto;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 0.5s 0.8s ease;
      -moz-transition: all 0.5s 0.8s ease;
      transition: all 0.5s 0.8s ease; }
      @media screen and (min-width: 540px) and (orientation: landscape) {
        .buffalo .buffalo-slide p {
          margin: 1.5em auto; } }
      @media screen and (min-width: 720px) {
        .buffalo .buffalo-slide p {
          margin: 1.5em auto; } }
    .buffalo .buffalo-slide.show {
      padding: 1.5em;
      margin: 1.5em auto 0;
      max-height: 100em;
      -webkit-transition: all 0.3s 0.1s ease;
      -moz-transition: all 0.3s 0.1s ease;
      transition: all 0.3s 0.1s ease; }
      .buffalo .buffalo-slide.show p {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%); }
      .buffalo .buffalo-slide.show .thumbs {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1; }
      @media screen and (min-width: 540px) and (orientation: landscape) {
        .buffalo .buffalo-slide.show {
          padding: 1.5em; } }
  .buffalo .buffalo-photo {
    display: none; }
  .buffalo h2 {
    color: #fff;
    font-size: 45px;
    line-height: 1em;
    width: 90%;
    margin: 0 0 0.5em;
    max-width: 420px; }
  .buffalo p {
    font-size: 0.9375px;
    font-size: 1.5em;
    line-height: 1.1em;
    line-height: 1.4em;
    margin: 0 0 0.5em;
    width: 100%;
    max-width: 420px;
    color: white; }
  .buffalo .sc_button {
    margin: 1.5em 0;
    width: 100%;
    max-width: 420px;
    font-size: 0.9375px;
    font-size: 1.5em;
    line-height: 1.1em; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    .buffalo {
      padding: 1.5em 3em; } }
  @media screen and (min-width: 640px) and (orientation: landscape) {
    .buffalo {
      padding: 1.5em;
      background-image: none;
      background-color: #01181C;
      background-blend-mode: normal; }
      .buffalo h2,
      .buffalo p {
        width: 60%;
        float: right;
        clear: right; }
      .buffalo .buffalo-photo {
        display: block;
        float: left;
        clear: left;
        width: 38%; }
      .buffalo .sc_button {
        margin: 2em 0 0;
        width: 38%; } }
  @media screen and (min-width: 750px) and (orientation: landscape) {
    .buffalo {
      padding: 1.5em;
      background-image: none;
      background-blend-mode: normal; }
      .buffalo h2,
      .buffalo p {
        width: 50%;
        float: right;
        clear: right; }
      .buffalo .buffalo-photo {
        display: block;
        float: left;
        clear: left;
        width: 48%; }
      .buffalo .sc_button {
        margin: 2em 0 0;
        width: 48%; } }
  @media screen and (min-width: 720px) and (min-height: 600px) {
    .buffalo {
      padding: 3em;
      background-image: none;
      background-color: #01181C;
      background-blend-mode: normal; }
      .buffalo h2,
      .buffalo p {
        width: 50%;
        float: right;
        clear: right;
        max-width: 100%; }
      .buffalo .buffalo-photo {
        display: block;
        float: left;
        clear: left;
        width: 48%;
        max-width: 100%;
        mix-blend-mode: screen; }
      .buffalo .sc_button {
        margin: 1em 0 0;
        max-width: 100%;
        width: 48%; } }

.bio {
  background-color: #03424d;
  background-image: url("../tn-imgs/KCST.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 1.5em; }
  .bio .container {
    max-width: 650px;
    margin: 0 auto; }
  .bio img {
    display: none;
    margin: 0 0 0.5em 1.5em; }
  .bio h2 {
    color: #fff;
    font-size: 45px;
    line-height: 1em;
    width: 90%;
    margin: 0 0 0.5em;
    max-width: 420px; }
  .bio p {
    font-size: 0.8125px;
    font-size: 1.3em;
    line-height: 1.1em;
    line-height: 1.4em;
    margin: 0 0 0.5em;
    width: 100%;
    max-width: 420px;
    color: white; }
  .bio .sc_button {
    margin: 1.5em 0;
    width: 100%;
    max-width: 420px;
    font-size: 0.9375px;
    font-size: 1.5em;
    line-height: 1.1em; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    .bio {
      padding: 1.5em 3em; } }
  @media screen and (min-width: 640px) and (orientation: landscape) {
    .bio {
      padding: 1.5em;
      background-image: none;
      background-color: #444;
      background-blend-mode: normal; }
      .bio h2,
      .bio p {
        width: 100%;
        max-width: 100%;
        float: left;
        clear: left; }
      .bio img {
        display: block;
        float: right;
        clear: right;
        width: 38%; }
      .bio .sc_button {
        margin: 2em 0 0;
        width: 38%; } }
  @media screen and (min-width: 750px) and (orientation: landscape) {
    .bio {
      padding: 1.5em;
      background-image: none;
      background-blend-mode: normal; }
      .bio h2,
      .bio p {
        width: 100%;
        max-width: 100%;
        float: left;
        clear: left; }
      .bio img {
        display: block;
        float: right;
        clear: right;
        width: 48%; }
      .bio .sc_button {
        margin: 2em 0 0;
        width: 48%; } }
  @media screen and (min-width: 720px) and (min-height: 600px) {
    .bio {
      padding: 3em;
      background-image: none;
      background-color: #444;
      background-blend-mode: normal; }
      .bio h2,
      .bio p {
        width: 100%;
        float: left;
        clear: left;
        max-width: 100%; }
      .bio img {
        display: block;
        float: right;
        clear: right;
        width: 45%;
        max-width: 100%;
        opacity: 0.8; } }
  @media screen and (min-width: 800px) and (min-height: 600px) {
    .bio {
      padding: 3em;
      background-image: none;
      background-blend-mode: normal; } }
  @media screen and (min-width: 1280px) and (min-height: 600px) {
    .bio {
      padding: 3em;
      background-image: none;
      background-blend-mode: normal; }
      .bio .sc_button {
        margin: 1em 0 0;
        max-width: 100%;
        width: 48%; } }

.sc_events {
  padding: 0.5em 0;
  background-color: #444; }
  .sc_events h1 {
    margin: 3em auto 0; }
  .sc_events .sc_events_item_title a {
    letter-spacing: 2px; }
  .sc_events .sc_events_item {
    background-color: #01181C; }
  .sc_events .sc_events_item_time {
    font-size: 16px;
    font-family: "Langdon", sans-serif;
    text-transform: uppercase;
    width: 15%; }
    @media screen and (max-width: 540px) {
      .sc_events .sc_events_item_time {
        display: none !important; } }
  .sc_events .sc_events_item_day {
    font-family: "Langdon", sans-serif !important;
    padding: 10% 0 0;
    line-height: 0.8em; }
  .sc_events .sc_button.style_color_light.sc_button_style_filled {
    padding: 1.4em;
    position: absolute;
    height: 40px;
    width: 80px;
    bottom: 1.1em;
    right: 1em; }
    @media screen and (min-width: 800px) {
      .sc_events .sc_button.style_color_light.sc_button_style_filled {
        right: 2em; } }

.sc_events_item_title {
  margin: 0;
  width: 70% !important; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    .sc_events_item_title {
      width: 65% !important; } }

.instafeed {
  padding: 1.5em;
  margin: 0 auto;
  position: relative;
  max-width: 1020px;
  background-color: #444; }
  .instafeed h2 {
    width: 80%;
    text-align: center;
    margin: 1.5em auto;
    font-size: 1.875px;
    font-size: 3em;
    line-height: 1.1em;
    color: white; }
  .instafeed .four-grid {
    width: 98%;
    margin: 1.5em 1%;
    padding: 0.5em;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    vertical-align: top; }
    .instafeed .four-grid .photo {
      width: 100%;
      height: 20em;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden; }
      .instafeed .four-grid .photo.one {
        background-image: url("../tn-imgs/Mike Frost - IMG_5790.JPG");
        background-color: #7f7fff;
        background-blend-mode: overlay;
        opacity: 0.8; }
      .instafeed .four-grid .photo.two {
        background-image: url("../tn-imgs/Mike Frost - IMG_5791.JPG");
        background-color: #7f7fff;
        background-blend-mode: lighten;
        opacity: 0.8; }
      .instafeed .four-grid .photo.three {
        background-image: url("../tn-imgs/Mike Frost - IMG_5792.JPG");
        background-color: #7f7fff;
        background-blend-mode: darken;
        opacity: 0.8; }
      .instafeed .four-grid .photo.four {
        background-image: url("../tn-imgs/Mike Frost - IMG_5793.JPG");
        background-color: #7f7fff;
        background-blend-mode: overlay;
        opacity: 0.8; }
    .instafeed .four-grid .info {
      padding: 0.5em; }
      .instafeed .four-grid .info h4 {
        color: white;
        font-size: 0.8125px;
        font-size: 1.3em;
        line-height: 1.1em;
        margin: 0.5em 0;
        width: 100%;
        display: inline-block;
        vertical-align: top; }
      .instafeed .four-grid .info .post-time {
        display: inline-block;
        vertical-align: top;
        margin: 0.7em 0 0;
        width: 60%;
        color: white; }
        .instafeed .four-grid .info .post-time span {
          font-weight: 800;
          margin: 0 4px; }
      .instafeed .four-grid .info p {
        clear: both;
        padding: 1.5em 0;
        color: white;
        font-size: 0.8125px;
        font-size: 1.3em;
        line-height: 1.1em;
        margin: 0; }
    @media screen and (min-width: 540px) {
      .instafeed .four-grid {
        width: 47.5%; }
        .instafeed .four-grid .photo {
          height: 12em; } }
    @media screen and (min-width: 800px) {
      .instafeed .four-grid {
        width: 22.5%; }
        .instafeed .four-grid .photo {
          height: 8em; } }

.booking {
  position: relative;
  z-index: 1;
  padding: 15em 0; }
  .booking .sc_title.sc_title_style_4 {
    font-size: 45px;
    margin: 0 auto; }
  .booking .sc_button {
    margin: 1.5em 0;
    padding: 1.5em;
    width: 100%;
    max-width: 420px;
    font-size: 0.9375px;
    font-size: 1.5em;
    line-height: 1.1em;
    border: 3px solid #25d7f7;
    background-color: #25d7f7;
    color: #fff;
    -webkit-transition: all 0.3s 0.1s ease;
    -moz-transition: all 0.3s 0.1s ease;
    transition: all 0.3s 0.1s ease;
    text-decoration: none; }
    .booking .sc_button:hover {
      color: #25d7f7;
      background: transparent; }
  .booking:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../tn-imgs/female_artist_stage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 1;
    z-index: -1; }
  .booking:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #444;
    opacity: 0.4;
    z-index: 0; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    .booking {
      padding: 7.5em 0; } }
  @media screen and (min-width: 640px) and (orientation: landscape) {
    .booking {
      padding: 10.5em 0; } }
  @media screen and (min-width: 540px) and (min-height: 600px) {
    .booking {
      padding: 15em 0; }
      .booking .sc_title.sc_title_style_4 {
        font-size: 64px; } }

/*# sourceMappingURL=custom.css.map */
