@font-face {
  font-family: 'Langdon';
  src: url("../css/fonts/Langdon.otf"); }
/* iPhone first gen */
/* Samsung Nexus S */
/* Droid Razr */
/* iPhone 4 and 5 */
/* Galaxy Nexus */
/* iPhone 6 / Google Nexus */
/* Galaxy Note */
/* Iphone 6+ */
/* Desktop */
/* ========================= Colors ============================ */
/* ========================== Font ============================= */
*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Langdon", sans-serif; }

.page_wrap {
  max-width: 1280px; }

.menu_button.icon-menu {
  width: 100px;
  padding: 0 0 0 50px; }

.icon-menu:before {
  content: ''; }

.burger:before {
  content: '\e8ba';
  font-family: "fontello";
  color: #25d7f7; }

.top_panel_over .header_mobile .menu_button {
  top: 1.3em;
  right: 0em;
  left: auto;
  position: fixed; }
  @media screen and (min-width: 480px) {
    .top_panel_over .header_mobile .menu_button {
      right: 5%; } }

.top_panel_over .body_wrap .page_wrap .header_mobile .word {
  font-size: 1.0625px;
  font-size: 1.7em;
  float: right;
  color: #25d7f7;
  margin: 0.9em 2.2em 0 0;
  display: block;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-family: "Tinos",serif; }
  @media screen and (min-width: 480px) {
    .top_panel_over .body_wrap .page_wrap .header_mobile .word {
      right: 4%; } }
  @media screen and (min-width: 768px) {
    .top_panel_over .body_wrap .page_wrap .header_mobile .word {
      top: 0.1em; } }

.header_mobile .side_wrap .close {
  display: block;
  z-index: 3000;
  color: red;
  font-size: 1.25px;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif; }

.header_mobile .side_wrap {
  top: 0; }

/* Padding Remover */
.top_panel_over .header_mobile .logo,
.header_mobile .logo {
  padding: 0; }

.top_panel_wrap {
  position: relative !important;
  height: 0; }

@media (max-width: 1030px) {
  .top_panel_over .body_wrap .page_wrap .header_mobile {
    background: #393939;
    position: relative; } }
@media screen and (max-width: 639px) {
  .header_mobile .logo_main {
    height: 50px; } }
div.logo {
  float: left;
  width: 50%;
  text-align: left; }
  div.logo img {
    position: relative;
    margin: 0.7em 0 0; }

.top_panel_middle.menu_main_wrap {
  position: absolute;
  top: 1em;
  right: 1em; }

.contacts .container {
  background: #666; }

.scheme_original .body_style_boxed .body_wrap {
  background-color: #333; }

.bg_image_13 {
  background-image: none !important;
  background-size: cover;
  background-position: center;
  background-color: #333; }

.bg_image_12,
.bg_image_14,
.bg_image_15,
.bg_image_16,
.bg_image_17,
.scheme_original .body_style_boxed .body_wrap {
  background-image: none !important; }

.tparrows {
  display: none;
  color: white; }
  .tparrows:before {
    color: white; }

.bg_image_14,
.bg_image_17 {
  background: #555; }

.bg_image_15,
.bg_image_16 {
  background: #333; }

.tn-border,
.top_panel_over .header_style_6 .slider_wrap .slotholder:after,
.top_panel_over .slider_wrap .slotholder:after,
.sc_section.section_style_thick:after,
.scheme_original .sc_events_style_events-2 .sc_events_item,
.scheme_original input[type="text"],
.scheme_original input[type="number"],
.scheme_original input[type="email"],
.scheme_original input[type="search"],
.scheme_original input[type="tel"],
.scheme_original input[type="password"],
.scheme_original select,
.scheme_original textarea {
  border: 3px solid white; }

.tn-border,
.scheme_original input[type="text"]:hover,
.scheme_original input[type="number"]:hover,
.scheme_original input[type="email"]:hover,
.scheme_original input[type="search"]:hover,
.scheme_original input[type="tel"]:hover,
.scheme_original input[type="password"]:hover,
.scheme_original select:hover,
.scheme_original textarea:hover {
  border-color: #555; }

.sc_services_item_description {
  color: white; }

.sc_services_descr.sc_item_descr {
  color: white; }

.tp-bgimg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.6;
  z-index: 1; }

.tp-caption h2 {
  font-size: 40px;
  color: #fff; }
.tp-caption h4 {
  font-size: 25px;
  color: #fff; }

.slider_boxed,
.content_wrap,
.container,
.content_container {
  width: 95%; }

.contacts .slider_boxed,
.contacts .content_wrap,
.contacts .container,
.contacts .content_container {
  width: 100%; }

.chi-town {
  background: white;
  background-image: url("../tn-imgs/chicago_shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  width: 100%;
  height: 20em; }

.sc_emailer .sc_emailer_opened .inited {
  width: 90%; }

@media screen and (min-width: 480px) {
  .row:not(.columns_fluid) > [class*="column-"],
  .columns_wrap:not(.columns_fluid) > [class*="column-"] {
    width: 49%; } }

.bio {
  padding: 1.5em 3em;
  background: #444; }
  .bio .container {
    max-width: 900px;
    margin: 0 auto; }
  .bio h2 {
    font-size: 1.5625px;
    font-size: 2.5em;
    margin: 1em auto 0;
    color: white; }
  .bio p {
    font-size: 0.8125px;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 1em auto 0;
    width: 100%;
    color: white; }
  @media screen and (min-width: 640px) {
    .bio {
      padding: 3em; }
      .bio p {
        margin: 1em 2% 0 0;
        width: 47.7%;
        display: inline-block;
        vertical-align: top; }
        .bio p:nth-of-type(2) {
          margin: 1em 0 0 2%; } }

.buffalo {
  background-color: #01181c;
  background-image: url("../tn-imgs/Mike Frost - IMG_5789.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1.5em; }
  .buffalo img {
    display: none; }
  .buffalo h2 {
    color: #fff;
    font-size: 45px;
    line-height: 1em;
    width: 90%;
    margin: 0 0 0.5em;
    max-width: 420px; }
  .buffalo p {
    font-size: 0.8125px;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0 0 0.5em;
    width: 100%;
    max-width: 420px;
    color: white; }
  .buffalo .sc_button {
    margin: 1.5em 0;
    width: 100%;
    max-width: 420px;
    font-size: 0.9375px;
    font-size: 1.5em; }
  @media screen and (min-width: 540px) and (orientation: landscape) {
    .buffalo {
      padding: 1.5em 3em; } }
  @media screen and (min-width: 640px) and (orientation: landscape) {
    .buffalo {
      padding: 1.5em;
      background-image: none;
      background-blend-mode: normal; }
      .buffalo h2, .buffalo p {
        width: 60%;
        float: right;
        clear: right; }
      .buffalo img {
        display: block;
        float: left;
        clear: left;
        width: 38%; }
      .buffalo .sc_button {
        margin: 2em 0 0;
        width: 38%; } }
  @media screen and (min-width: 750px) and (orientation: landscape) {
    .buffalo {
      padding: 1.5em;
      background-image: none;
      background-blend-mode: normal; }
      .buffalo h2, .buffalo p {
        width: 50%;
        float: right;
        clear: right; }
      .buffalo img {
        display: block;
        float: left;
        clear: left;
        width: 48%; }
      .buffalo .sc_button {
        margin: 2em 0 0;
        width: 48%; } }
  @media screen and (min-width: 720px) and (min-height: 600px) {
    .buffalo {
      padding: 3em;
      background-image: none;
      background-blend-mode: normal; }
      .buffalo h2, .buffalo p {
        width: 50%;
        float: right;
        clear: right;
        max-width: auto; }
      .buffalo img {
        display: block;
        float: left;
        clear: left;
        width: 48%;
        max-width: auto;
        mix-blend-mode: screen; }
      .buffalo .sc_button {
        margin: 2em 0 0;
        max-width: auto;
        width: 48%; } }

.instafeed {
  padding: 1.5em;
  margin: 0 auto;
  position: relative;
  max-width: 1020px; }
  .instafeed h2 {
    width: 80%;
    text-align: center;
    margin: 1.5em auto;
    font-size: 1.875px;
    font-size: 3em;
    color: white; }
  .instafeed .four-grid {
    width: 98%;
    margin: 1.5em 1%;
    padding: 0.5em;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    vertical-align: top; }
    .instafeed .four-grid .photo {
      width: 100%;
      height: 20em;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden; }
      .instafeed .four-grid .photo.one {
        background-image: url("../tn-imgs/Mike Frost - IMG_5790.JPG");
        background-color: #7f7fff;
        background-blend-mode: overlay;
        opacity: 0.8; }
      .instafeed .four-grid .photo.two {
        background-image: url("../tn-imgs/Mike Frost - IMG_5791.JPG");
        background-color: #7f7fff;
        background-blend-mode: lighten;
        opacity: 0.8; }
      .instafeed .four-grid .photo.three {
        background-image: url("../tn-imgs/Mike Frost - IMG_5792.JPG");
        background-color: #7f7fff;
        background-blend-mode: darken;
        opacity: 0.8; }
      .instafeed .four-grid .photo.four {
        background-image: url("../tn-imgs/Mike Frost - IMG_5793.JPG");
        background-color: #7f7fff;
        background-blend-mode: overlay;
        opacity: 0.8; }
    .instafeed .four-grid .info {
      padding: 0.5em; }
      .instafeed .four-grid .info h4 {
        color: white;
        font-size: 0.8125px;
        font-size: 1.3em;
        margin: 0.5em 0;
        width: 100%;
        display: inline-block;
        vertical-align: top; }
      .instafeed .four-grid .info .post-time {
        display: inline-block;
        vertical-align: top;
        margin: 0.7em 0 0;
        width: 60%;
        color: white; }
        .instafeed .four-grid .info .post-time span {
          font-weight: 800;
          margin: 0 4px; }
      .instafeed .four-grid .info p {
        clear: both;
        padding: 1.5em 0;
        color: white;
        font-size: 0.8125px;
        font-size: 1.3em;
        margin: 0; }
    @media screen and (min-width: 540px) {
      .instafeed .four-grid {
        width: 47.5%; }
        .instafeed .four-grid .photo {
          height: 12em; } }
    @media screen and (min-width: 800px) {
      .instafeed .four-grid {
        width: 22.5%; }
        .instafeed .four-grid .photo {
          height: 8em; } }

/*# sourceMappingURL=custom.css.map */
