.scheme_original .body_style_boxed .body_wrap {
	background-color:#333;
}



.bg_image_13 {
	// background-image:url('../tn-imgs/Thirsty Nickel -6.jpg') !important;
	background-image:none !important;
	background-size:cover;
	background-position:center;
	background-color:#333;
}

.bg_image_12, 
.bg_image_14, 
.bg_image_15,
.bg_image_16,
.bg_image_17,
.scheme_original .body_style_boxed .body_wrap {
	background-image:none !important;

}



.tparrows {
	display:none;
	color:white;
	&:before {
		color:white;
	}
}




.bg_image_14,
.bg_image_17 {
	background:#555;
}

.bg_image_15,
.bg_image_16 {
	background:#333;
}


.tn-border,
.top_panel_over .header_style_6 .slider_wrap .slotholder:after,
.top_panel_over .slider_wrap .slotholder:after,
.sc_section.section_style_thick:after,
.scheme_original .sc_events_style_events-2 .sc_events_item,
.scheme_original input[type="text"], 
.scheme_original input[type="number"], 
.scheme_original input[type="email"], 
.scheme_original input[type="search"], 
.scheme_original input[type="tel"], 
.scheme_original input[type="password"], 
.scheme_original select, 
.scheme_original textarea {
	border:3px solid white;
}

.tn-border,
.scheme_original input[type="text"]:hover, 
.scheme_original input[type="number"]:hover, 
.scheme_original input[type="email"]:hover, 
.scheme_original input[type="search"]:hover, 
.scheme_original input[type="tel"]:hover, 
.scheme_original input[type="password"]:hover, 
.scheme_original select:hover, 
.scheme_original textarea:hover {
	border-color:#555;
}


.sc_services_item_description {
	color:white;
}

.sc_services_descr.sc_item_descr {
	color:white;

}





.tp-bgimg {
	// position: relative;
	// z-index:1;
	&:after {
		content:'';
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:#333;
		opacity: 0.6;
		z-index: 1;
		// border:3px solid white;

	}
}

.slider_boxed, 
.content_wrap, 
.container, 
.content_container  {
	width:95%;
}

.contacts .slider_boxed, 
.contacts .content_wrap, 
.contacts .container, 
.contacts .content_container {
	width:100%;
}




.chi-town {
	background:white;
	background-image:url('../tn-imgs/chicago_shirt.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	overflow:hidden;
	width:100%;
	height:20em;
	// max-height:20em;
}



.sc_emailer .sc_emailer_opened .inited {
	width:90%;
}


.row:not(.columns_fluid)>[class*="column-"], 
.columns_wrap:not(.columns_fluid)>[class*="column-"] {

	@media screen and (min-width:$screen-2) {
		width:49%;
	}

}








.bio {
	@include padding($md-sp-unit);
	background:#444;

	.container {
		max-width: 900px;
		@include margin(0 auto);
	}
	h2 {
		@include font(2.5);
		@include margin(1em auto 0);
		color:white;
	}

	p {
		@include font(1.3);
		line-height: 1.4em;
		@include margin(1em auto 0);
		width:100%;
		color:white;
	}

	@media screen and (min-width:$screen-4) {
		@include padding($lg-sp-unit);

		p {
			@include margin(1em 2% 0 0);
			width:47.7%;
			display:inline-block;
			vertical-align: top;
			&:nth-of-type(2) {
				@include margin(1em 0 0 2%);
			}
		}
	}
}


.instafeed {
	@include padding($md-sp-unit);
	@include margin(0 auto);
	position: relative;
	max-width:1020px;

	h2 {
		width:80%;
		text-align:center;
		@include margin($md-sp-unit auto);
		@include font(3);
		color:white;
	}
	.four-grid {
		width:98%;
		@include margin($md-sp-unit 1%);
		@include padding($sm-sp-unit);
		display: inline-block;
		position: relative;
		overflow: hidden;
		border: 2px solid $secondcolor;
		vertical-align: top;

		.photo {
			width:100%;
			height:20em;
			// max-width: 300px;
			position: relative;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			overflow:hidden;

			&.one {
				background-image:url('../tn-imgs/Mike Frost - IMG_5790.JPG');
				background-color:#7f7fff;
				background-blend-mode:overlay;
				opacity: 0.8;
			}
			&.two {
				background-image:url('../tn-imgs/Mike Frost - IMG_5791.JPG');
				background-color:#7f7fff;
				background-blend-mode:lighten;
				opacity: 0.8;
			}
			&.three {
				background-image:url('../tn-imgs/Mike Frost - IMG_5792.JPG');
				background-color:#7f7fff;
				background-blend-mode:darken;
				opacity: 0.8;
			}
			&.four {
				background-image:url('../tn-imgs/Mike Frost - IMG_5793.JPG');
				background-color:#7f7fff;
				background-blend-mode:overlay;
				opacity: 0.8;
			}
		}

		.info {
			@include padding($sm-sp-unit);
			h4 {
				color:white;
				@include font(1.3);
				@include margin(0.5em 0);
				width:100%;
				display: inline-block;
				vertical-align: top;

			}
			.post-time {
				display: inline-block;
				vertical-align: top;
				@include margin(0.7em 0 0);
				width:60%;
				// float:right;
				color:white;
				span {
					// display: block;
					font-weight: 800;
					@include margin(0 4px);
				}
			}

			p {
				clear:both;
				@include padding($md-sp-unit 0);
				color:white;
				@include font(1.3);
				@include margin(0);
			}

		}

		@media screen and (min-width:$screen-3) {
			width:47.5%;
			.photo {
				height:12em;
			}
		}

		@media screen and (min-width:$screen-7) {
			width:22.5%;
			.photo {
				height:8em;
			}
		}


	}
}




























