.menu_button.icon-menu {
	width:100px;
	@include padding(0 0 0 50px);
}




.icon-menu:before {
    // content: '\e8ba';
    content: '';
}

.burger:before {
    content: '\e8ba';
    font-family: "fontello";
    color:$thirdcolor;
    // content: '';
}

.top_panel_over .header_mobile .menu_button {
	top:1.3em;
	right:0em;
	left:auto;
	position: fixed;

	@media screen and (min-width:$screen-2) {
		right:5%;

	}
}

.top_panel_over .body_wrap .page_wrap .header_mobile {
	// position: fixed;
	.word {
		@include font(1.7);
		float:right;
		// width:20%;
		color:$thirdcolor;
		@include margin(0.9em 2.2em 0 0);
		display: block;
		position: absolute;
		top:0.2em;
		right:0.2em;
		font-family: "Tinos",serif;
		@media screen and (min-width:$screen-2) {
			right:4%;
		}
		@media screen and (min-width:768px) {
			top:0.1em;
		}
	}
}
a.email-us {
	position: absolute;
	width:60%;
	max-width:300px;
	color:$secondcolor;
	font-family:$headline-copy;
	text-transform:uppercase;
	font-size:15px;
	line-height:1.1em;
	text-align:left;
	display:block;
	bottom:1em;
	left:4%;
	top:auto;
	right:auto;
	@include padding(0.2em 0);
	text-decoration:none;

	&:hover {
		color:$thirdcolor;
		// background-color:transparent;
	}


	@media screen and (min-width:$screen-3) and (orientation:landscape) {
		top:1.5em;
		left:40%;
		right:auto;
		bottom:auto;
	}
	@media screen and (min-width:$screen-4) and (orientation:landscape) {
		left:39%;
	}
	@media screen and (min-width:$screen-5) and (orientation:landscape) {
		left:40%;
	}
	@media screen and (min-width:$screen-6) and (orientation:landscape) {
		left:41%;
	}



	@media screen and (min-width:$screen-3) and (min-height:600px) {
		top:1.5em;
		left:40%;
		right:auto;
		bottom:auto;
	}
	@media screen and (min-width:$screen-4) and (min-height:600px) {
		left:39%;
	}
	@media screen and (min-width:$screen-5) and (min-height:600px) {
		left:40%;
	}
	@media screen and (min-width:$screen-6) and (min-height:600px) {
		left:41%;
	}
	@media screen and (min-width:$screen-8) {
		top:1.8em;
		left:41%;
		right:auto;
		bottom:auto;
	}
}
.scheme_original .header_mobile .panel_top, 
.scheme_original .header_mobile .side_wrap {
	background-color:$maincolor;
}
.header_mobile .side_wrap .close {
	display:block;
	z-index:3000;
	color:red;
	@include font(2);
	font-weight:bold;
	font-family:sans-serif;
}

.header_mobile {
	height:8em;
	@include transition(all 0.1s 0.1s ease);
	@media screen and (min-width:$screen-3) and (orientation:landscape) {
		height:auto;
	}
	@media screen and (min-width:$screen-3) and (min-height:600px) {
		height:auto;
	}
}

.header_mobile .side_wrap {
	top:0;
}
/* Padding Remover */
.top_panel_over .header_mobile .logo,
.header_mobile .logo {
	@include padding(0);
}

.top_panel_wrap {
	position: relative !important;
	height:0;

}


@media screen and (min-width:$screen-2) {
	.top_panel_over .body_wrap .page_wrap .header_mobile {
		// @include padding(0 5%);
	}
}
@media (max-width: 1030px) {
	.top_panel_over .body_wrap .page_wrap .header_mobile {
	    background: $maincolor2;
	    position: relative;
	}
}

@media screen and (max-width: 639px) {
	.header_mobile .logo_main {
	    height: 50px;
	}
}
.header_mobile div.logo {
	// height:50px;
	float:left;
	// clear:both;
	width:50%;
	text-align:left;

	img {
		// width:100%;
		// height:auto;
		// width:300px;
		position: relative;
		@include margin(0.7em 0 0);
		// @media screen and (min-width:$screen-2) {
		// 	@include margin(0.7em 0 0);
		// }
	}
}
// .top_panel_middle.menu_main_wrap

.top_panel_middle .menu_main_wrap {
	position: absolute;
	top:1.3em;
	right:3em;
	@include margin(0);



	.menu-item {
		a {
			font-size:18px;
			@include margin(0 3px);
		}
	}
}
.scheme_original .menu_main_nav>li.current-menu-ancestor>a {
	background-color:$thirdcolor;
}
.scheme_original .menu_main_nav>li>a:hover {
	background-color:$thirdcolor;
	text-decoration:none;
}
.top_panel_middle .logo {
	@include margin(0.5em -10% 0 10%);
	// width:200px;
	.logo_main {
		height:70px;
	}
}



footer {
	background:$maincolor2;
	.footer_wrap_inner {
		@include padding(0);
	}
	@include padding($md-sp-unit);

	.columns_wrap {
		width:100%;
		@include margin(0 auto);
		max-width:400px;
	}
	.footer-button {
		width:100%;
		@include margin($md-sp-unit auto);
		display: block;
		@include padding($lg-sp-unit);
		max-width: 400px;
		font-size: 28px;
	}
	.footer-box {
		width:45%;
		@include margin($sm-sp-unit 2.2% $md-sp-unit);
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		text-align:left;
		h2 {
			color:$secondcolor;
		}
		span {
			color:white;
			text-align:left;
			font-size: 18px;
			font-family: $headline-copy;
			text-transform:uppercase;
			display: block;
		}
	}

	.logo_main {
		width:100%;
		@include margin($sm-sp-unit auto);
		max-width: 150px;
		display: block;
		position: relative;
		// height:auto;
	}
	.sc_socials.sc_socials_size_tiny a, 
	.sc_socials.sc_socials_size_tiny a .sc_socials_hover {
		width:5em;
		height:5em;
		// font-size:3em;

	}
	.sc_socials.sc_socials_size_tiny .social_icons span,
	.sc_socials.sc_socials_size_tiny .social_icons.social_gpl span, 
	.sc_socials.sc_socials_size_tiny .social_icons.social_tripadvisor span {
		font-size:3em;
	}

	.scheme_original .sc_socials.sc_socials_type_icons a {
		border-color: $thirdcolor;
		background-color:$maincolor;
		color:$thirdcolor;
		@include padding(20%);

		&:hover {
			border-color: $secondcolor;
			background-color:$thirdcolor;
			color:$secondcolor;
		}
	}

	.copyright_text,
	.copyright_text a {
		color:$secondcolor !important;
		font-size: 18px;
		display: block;
	}

}



















.contacts {

	.container {
		background:$maincolor;
	}
}