.menu_button.icon-menu {
	width:100px;
	@include padding(0 0 0 50px);
}




.icon-menu:before {
    // content: '\e8ba';
    content: '';
}

.burger:before {
    content: '\e8ba';
    font-family: "fontello";
    color:$thirdcolor;
    // content: '';
}

.top_panel_over .header_mobile .menu_button {
	top:1.3em;
	right:0em;
	left:auto;
	position: fixed;

	@media screen and (min-width:$screen-2) {
		right:5%;

	}
}

.top_panel_over .body_wrap .page_wrap .header_mobile {
	// position: fixed;
	.word {
		@include font(1.7);
		float:right;
		// width:20%;
		color:$thirdcolor;
		@include margin(0.9em 2.2em 0 0);
		display: block;
		position: absolute;
		top:0.2em;
		right:0.2em;
		font-family: "Tinos",serif;
		@media screen and (min-width:$screen-2) {
			right:4%;
		}
		@media screen and (min-width:768px) {
			top:0.1em;
		}
	}
}


.header_mobile .side_wrap .close {
	display:block;
	z-index:3000;
	color:red;
	@include font(2);
	font-weight:bold;
	font-family:sans-serif;
}



.header_mobile .side_wrap {
	top:0;
}
/* Padding Remover */
.top_panel_over .header_mobile .logo,
.header_mobile .logo {
	@include padding(0);
}

.top_panel_wrap {
	position: relative !important;
	height:0;

}


@media screen and (min-width:$screen-2) {
	.top_panel_over .body_wrap .page_wrap .header_mobile {
		// @include padding(0 5%);
	}
}
@media (max-width: 1030px) {
	.top_panel_over .body_wrap .page_wrap .header_mobile {
	    background: #393939;
	    position: relative;
	}
}

@media screen and (max-width: 639px) {
	.header_mobile .logo_main {
	    height: 50px;
	}
}
.header_mobile div.logo {
	// height:50px;
	float:left;
	// clear:both;
	width:50%;
	text-align:left;

	img {
		// width:100%;
		// height:auto;
		// width:300px;
		position: relative;
		@include margin(0.7em 0 0);
		// @media screen and (min-width:$screen-2) {
		// 	@include margin(0.7em 0 0);
		// }
	}
}
// .top_panel_middle.menu_main_wrap

.top_panel_middle .menu_main_wrap {
	position: absolute;
	top:1.3em;
	right:3em;
	@include margin(0);



	.menu-item {
		a {
			font-size:18px;
			@include margin(0 3px);
		}
	}
}
.scheme_original .menu_main_nav>li.current-menu-ancestor>a {
	background-color:$thirdcolor;
}
.scheme_original .menu_main_nav>li>a:hover {
	background-color:$thirdcolor;
	text-decoration:none;
}
.top_panel_middle .logo {
	@include margin(0.5em -10% 0 10%);
	// width:200px;
	.logo_main {
		height:70px;
	}
}

.contacts {

	.container {
		background:#666;
	}
}